<div class="animate__animated animate__fadeIn animate__faster">
  <h2>Por país</h2>
  <hr />

  <div class="row">
    <div class="col">
      <app-pais-input
        placeholder="Buscar país..."
        (onEnter)="buscar($event)"
        (onDebounce)="mostrarSugerencias($event)"
      ></app-pais-input>
    </div>
  </div>

  <div *ngIf="sugerencias.length" class="list-group">
    <a
      *ngFor="let sugerencia of sugerencias"
      [routerLink]="['/pais/', sugerencia.cca2]"
      class="list-group-item list-group-item-action"
      >{{ sugerencia.name.common }}</a
    >
    <a (click)="buscar(termino)" class="list-group-item list-group-item-action"
      >Buscar "{{ termino }}"</a
    >
  </div>
</div>

<hr />

<div *ngIf="hayError404" class="alert alert-warning">
  No se encontro nada con el término de busqueda
</div>

<div *ngIf="paises.length" class="row">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>
