<div class="row container mt-4">
  <div class="col-3">
    <h2>Busquedas</h2>
    <hr />
    <div class="list-group">
      <button
        class="list-group-item list-group-item-action"
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Buscar país
      </button>

      <button
        class="list-group-item list-group-item-action"
        routerLink="region"
        routerLinkActive="active"
      >
        Buscar región
      </button>

      <button
        class="list-group-item list-group-item-action"
        routerLink="capital"
        routerLinkActive="active"
      >
        Buscar capital
      </button>
    </div>
  </div>
  <div class="col-9">
    <router-outlet></router-outlet>
  </div>
</div>
