<h2>Paises</h2>
<hr />
<div class="list-group">
  <button
    class="list-group-item list-group-item-action"
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Buscar país
  </button>

  <button
    class="list-group-item list-group-item-action"
    routerLink="region"
    routerLinkActive="active"
  >
    Buscar región
  </button>

  <button
    class="list-group-item list-group-item-action"
    routerLink="capital"
    routerLinkActive="active"
  >
    Buscar capital
  </button>
</div>
