<table
  class="table table-hover table-striped table-condensed animate__animated animate__fadeIn animate__faster"
>
  <thead>
    <tr>
      <th>#</th>
      <th>Bandera</th>
      <th>Nombre</th>
      <th>Población</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pais of paises; index as i">
      <th>{{ i + 1 }}</th>
      <td><img class="small-flag" src="{{ pais.flags.png }}" /></td>
      <td>{{ pais.name.common }}, {{ pais.capital }}</td>
      <td>{{ pais.population | number }}</td>
      <td>
        <button
          [routerLink]="['/pais/', pais.cca2]"
          class="py-0 btn btn-outline-primary"
        >
          <i class="bi bi-eye"></i> Detalles
        </button>
      </td>
    </tr>
  </tbody>
</table>
