<div
  class="table table-hover animate__animated animate__fadeIn animate__faster"
>
  <h2>Por región</h2>
  <hr />
  <h5>Seleccione la región</h5>
  <div class="row">
    <div class="col">
      <!-- [ngClass]="{
        'btn-info': regionActiva === region,
        'btn-outline-info': regionActiva != region
      }" -->
      <button
        (click)="activarRegion(region)"
        [class]="getClassButton(region)"
        *ngFor="let region of regiones"
      >
        {{ region | titlecase }}
      </button>
    </div>
  </div>
</div>

<hr />

<div *ngIf="hayError404" class="alert alert-warning">
  No se encontro nada con el término de busqueda
</div>

<div *ngIf="paises.length" class="row">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>
